.useraction{
  background-color: #6A4664;
  height: 600px;
  width: 700px;

}
.userpanel{
  margin-left: 250px;
  margin-top: 100px;
  width: 700px;
}
.useraction{
  background-color: #00001A;
}
.adview{
  background-color: #2b608b;
  /*width: 100%;*/
  height: 300px;
}
.btn{
  width: 120px;
  margin-left: 50px;
  margin-top: 50px;
  height: 150px;
}
.po{
  background-color: #6A4664;
  height: 300px;
  /*width: 100%;*/}
.profile{
  height: 300px;
  background-color: darkgoldenrod;
  /*width: 100%;*/
}
