
<div class="row container">

  <!--<div class="col-lg-12">-->
  <div class="row userpanel">
    <div class="col-lg-4 adview">
     <button class="btn btn-dark" routerLink="viewads">go to view adverticement</button>
    </div>
    <div class="col-lg-4 po">
      <button class="btn btn-dark" routerLink="postads">go to upload adverticement</button>
    </div>
    <div class="col-lg-4 profile">
      <button class="btn btn-dark" routerLink="profile">go to mangeprofile</button>
    </div>
  </div>
  <!--</div>-->
</div>
