.backcolor{
  background-color: #e6e6e6;
  padding:30px 0px 10px 0px;
}
.loginwin{
  display: none;
  margin: 150px 0px 0px 500px;
  width: 500px;
  height: 800px;
  z-index: 20;
  position: fixed;
  /*background-color: #2b608b;*/
}


.siginupwin{
  display: none;
  margin: 150px 0px 0px 500px;
  width: 500px;
  height: 800px;
  z-index: 20;
  position: fixed;
  /*background-color: #2b608b;*/
}

#loginin{
  display: none;
  /*margin: 15%;*/
  width: 80%;
  height: auto;
  z-index: 3;

  position: fixed;
  /*background-color: #2b608b;*/
}
#singupup{
  display: none;
  /*margin: 15%;*/
  width: 80%;
  height: auto;
  z-index: 3;

  position: fixed;
  /*background-color: #2b608b;*/
}
