
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 0px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.box{
  width: 10px;
  height: 5px;
}





#formContainer{
  width:288px;
  height:321px;
  margin:0 auto;
  position:relative;
  padding: 20px;
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  perspective: 800px;
  background-color: #fefefe;
}
#formContainer form{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;

  /* Enabling 3d space for the transforms */
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  /* When the forms are flipped, they will be hidden */
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  /* Enabling a smooth animated transition */
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;

  /* Configure a keyframe animation for Firefox */
  -moz-animation: pulse 2s infinite;

  /* Configure it for Chrome and Safari */
  -webkit-animation: pulse 2s infinite;
}

#login{
  /*background:url('../img/login_form_bg.jpg') no-repeat;*/
  z-index:100;
}

#recover{
  /*background:url('../img/recover_form_bg.jpg') no-repeat;*/
  z-index:1;
  opacity:0;

  /* Rotating the recover password form by default */
  -moz-transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  transform:rotateY(180deg);
}
.main{
  /*z-index: 3;*/
  /*border: solid #B2312F thick;*/
  /*margin-top: 10px;*/
  /*margin-left: 70px;*/
  background-color:white;
  opacity: 1;
  width: 500px;
  display: -moz-popup;
  border-radius: 30px;
  box-shadow: 20px 20px 10px black;
  /*margin: 300px;*/
  padding: 10px;
}
.tab {
  display: inline;
}
/* Firefox Keyframe Animation */
@-moz-keyframes pulse{
  0%{     box-shadow:0 0 1px #008aff;}
  50%{    box-shadow:0 0 8px #008aff;}
  100%{   box-shadow:0 0 1px #008aff;}
}

/* Webkit keyframe animation */
@-webkit-keyframes pulse{
  0%{     box-shadow:0 0 1px #008aff;}
  50%{    box-shadow:0 0 10px #008aff;}
  100%{   box-shadow:0 0 1px #008aff;}
}
#formContainer.flipped #login{

  opacity:0;

  /**
   * Rotating the login form when the
   * flipped class is added to the container
   */

  -moz-transform:rotateY(-180deg);
  -webkit-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
}

#formContainer.flipped #recover{

  opacity:1;

  /* Rotating the recover div into view */
  -moz-transform:rotateY(0deg);
  -webkit-transform:rotateY(0deg);
  transform:rotateY(0deg);
}


#Containerlogin {
  background-color: #B2CFC6;
  width: 300px;
  height: 400px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
}
#login{
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

input{
  /*margin-top:40px ;*/
  height: 100%;
  width:100%;
  background-color: #00001A;
  border-top: none;
  color: #fefefe;

}
::placeholder{
  color: white;
  font-family: -apple-system;
  font-size: 15px;
}
.field2{
  height: 40px;
  margin: 40px 20px 0px 20px;
}
.logintitle{
  margin-left: 90px;
  font-family:CourierThai;
  font-size: 40px;
  color: black;
}
.field1{
  height: 40px;
  margin: 0px 20px 0px 20px;
}
.btnlogin{

}
.btn{
  color:white ;
  background-color:#6A4664;
  margin-left: 110px;

  margin-top: 40px;
}

/*input:hover{*/
/*border: 2px solid blue;*/
/*}*/
.field1:hover.field2:hover{
  border: 2px solid #201539;
}

#Email{

}

#Pass{

}
#login a{
  /*margin-top: 300px;*/
  /*cursor: pointer;*/
  color: black;
  font-family: "Lucida Bright";

  margin-left: 10px;
}
#login a:hover{
  cursor: pointer;
  color: #2b608b;

  margin-left: 10px;
}


.close{
  font-weight: bold;
  /*width: 2%;*/
  margin-left: 85%;
  padding: 10px;
  /*background-color: darkslateblue;*/
}
