input[type="file"] {
  display: none;
}

.img1
{
  position: relative;
  top: 0;
  left: 0;


}
.img2
{
  position: absolute;
  top: 70%;
  left: 40%;
  border-radius:100%;
}
.picMargin{
  margin-left: 35%;
}




.side{
  font-size: 20px
}


.main{
  background-image:url(../../assets/img/main.jpg)
}

.out{
  background-color:lightyellow
}
.align{
  text-align: center;
  color:silver;
}
.nav-link1{
  color:white;
  margin: 0px 20px
}
.message{
  font-family: Chiller;
  font-size: 40px;
  margin: 100px 0px 0px 350px;
  z-index: 40;
  /*margin-top: 200px;*/
  width: 600px;
  height: 200px;
  /*margin-left: 150px;*/
  position: fixed;
  background-color:#B2CFC6;
  border-radius: 30px;
  text-align: center;
}
