
<!--<div id="siginupclose">-->
  <div id="Containersingup" *ngIf="!currentUser">

  <form name="form" id="login" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
      <span onclick="document.getElementById('Containersingup').style.display='none'" class="close" title="Close Modal">&times;


      </span>


    <div class="field1" >

        <input  matInput
                type="text"
                id="Email"
                name="email"
                [(ngModel)]="form.email"
                #email="ngModel"
                required email
                matInput placeholder="Enter your EMAIL"/>
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>

    </div>


    <div class="field2">

        <input type="password"
               id="Pass" name="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6"  matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"/>

        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>

    </div>


    <div class="btnlogin">
      <div *ngIf="f.submitted && !isSignedUp" class="alert alert-warning">
        <br/>{{errorMessage}}
      </div>
      <button class="btn ">Register</button>
    </div>


  </form>
</div>
<!--</div>-->
