/*.example-container {*/
  /*display: flex;*/
  /*flex-direction: column;*/
/*}*/

/*.example-container > * {*/
  /*width: 50%;*/
/*}*/

/*.example-container form {*/
  /*margin-bottom: 20px;*/
/*}*/

/*.example-container form > * {*/
  /*!*margin: 5px 0;*!*/
/*}*/

/*.example-container .mat-radio-button {*/
  /*margin: 0 5px;*/
/*}*/
/*.example-form {*/
  /*min-width: 150px;*/
  /*max-width: 500px;*/
  /*width: 100%;*/
/*}*/

/*.example-full-width {*/
  /*width: 90%;*/
  /*padding: 0px;*/
/*}*/
/*body {font-family: Arial, Helvetica, sans-serif;}*/
/** {box-sizing: border-box;}*/

/*!* Full-width input fields *!*/
/*input[type=text], input[type=password] {*/
  /*width: 100%;*/
  /*padding: 15px;*/
  /*margin: 5px 0 22px 0;*/
  /*display: inline-block;*/
  /*border: none;*/
  /*background: #f1f1f1;*/
/*}*/

/*!* Add a background color when the inputs get focus *!*/
/*input[type=text]:focus, input[type=password]:focus {*/
  /*background-color: #ddd;*/
  /*outline: none;*/
/*}*/

/*!* Set a style for all buttons *!*/
/*button {*/
  /*background-color: #4CAF50;*/
  /*color: white;*/
  /*padding: 14px 20px;*/
  /*margin: 8px 0;*/
  /*border: none;*/
  /*cursor: pointer;*/
  /*width: 100%;*/
  /*opacity: 0.9;*/
/*}*/
/*.exa{*/
  /*width: 500px;*/
  /*height: 300px;*/
  /*background-color: #7A7B7F;*/
  /*z-index: 2;*/
  /*margin-top: 500px;*/
  /*margin-left: 600px;*/
/*}*/
/*button:hover {*/
  /*opacity:1;*/
/*}*/

/*!* Extra styles for the cancel button *!*/
/*.cancelbtn {*/
  /*padding: 14px 20px;*/
  /*background-color: #f44336;*/
/*}*/

/*!* Float cancel and signup buttons and add an equal width *!*/
/*.cancelbtn, .signupbtn {*/
  /*float: left;*/
  /*width: 50%;*/
/*}*/

/*!* Add padding to container elements *!*/
/*!*.container {*!*/
  /*!*padding: 16px;*!*/
/*!*}*!*/

/*!* The Modal (background) *!*/
/*.modal {*/
  /*display: none; !* Hidden by default *!*/
  /*position: fixed; !* Stay in place *!*/
  /*z-index: 1; !* Sit on top *!*/
  /*left: 0%;*/
  /*top: 7%;*/
  /*width: 100%; !* Full width *!*/
  /*height: 90%; !* Full height *!*/
  /*overflow: auto; !* Enable scroll if needed *!*/
  /*!*background-color: #474e5d;*!*/
  /*padding: 25px 150px 75px 250px;*/

  /*!*background-image: url("../../../fashion-wallpaper-hd-25.jpg");*!*/
/*}*/

/*!* Modal Content/Box *!*/
/*.modal-content {*/
  /*border-radius: 55px;*/
  /*!*display: flex;*!*/
  /*flex-direction: column;*/
  /*background-color: #fefefe;*/
  /*margin: 0% 15%; !* 5% from the top, 15% from the bottom and centered *!*/
  /*float: right;*/
  /*border: 1px solid #888;*/
  /*!*width: 20%; !* Could be more or less, depending on screen size *!*!*/
  /*padding: 25px;*/
  /*min-width: 150px;*/
  /*max-width: 500px;*/
  /*width: 100%;*/

/*}*/

/*!* Style the horizontal ruler *!*/
/*hr {*/
  /*border: 1px solid #f1f1f1;*/
  /*margin-bottom: 25px;*/
/*}*/

/*!* The Close Button (x) *!*/
/*.close {*/
  /*position: absolute;*/
  /*right: 35px;*/
  /*top: 15px;*/
  /*font-size: 40px;*/
  /*font-weight: bold;*/
  /*color: #f11f4f;*/

/*}*/

/*.icon{*/
  /*!*icon:url("../../../close2-512.png");*!*/
/*}*/
/*.close:hover,*/
/*.close:focus {*/
  /*color: #f44336;*/
  /*cursor: pointer;*/
/*}*/

/*!* Clear floats *!*/
/*.clearfix::after {*/
  /*content: "";*/
  /*clear: both;*/
  /*display: table;*/
/*}*/

/*!* Change styles for cancel button and signup button on extra small screens *!*/
/*@media screen and (max-width: 300px) {*/
  /*.cancelbtn, .signupbtn {*/
    /*width: 100%;*/
  /*}*/
/*}*/
#Containersingup {
  background-color: #B2CFC6;
  width: 300px;
  height: 400px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
}
#login{
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

input{
  /*margin-top:40px ;*/
  height: 100%;
  width:100%;
  background-color: #00001A;
  border-top: none;
  color: #fefefe;

}
::placeholder{
  color: white;
  font-family: -apple-system;
  font-size: 15px;
}
.field2{
  height: 40px;
  margin: 40px 20px 0px 20px;
}
.logintitle{
  margin-left: 90px;
  font-family:CourierThai;
  font-size: 40px;
  color: black;
}
.field1{
  height: 40px;
  margin: 0px 20px 0px 20px;
}
.btnlogin{

}
.btn{
  color:white ;
  background-color:#6A4664;
  margin-left: 110px;

  margin-top: 40px;
}

/*input:hover{*/
/*border: 2px solid blue;*/
/*}*/
.field1:hover.field2:hover{
  border: 2px solid #201539;
}

#Email{

}

#Pass{

}
#login a{
  /*margin-top: 300px;*/
  /*cursor: pointer;*/
  color: black;
  font-family: "Lucida Bright";

  margin-left: 10px;
}
#login a:hover{
  cursor: pointer;
  color: #2b608b;

  margin-left: 10px;
}


.close{
  font-weight: bold;
  /*width: 2%;*/
  margin-left: 85%;
  padding: 10px;
  /*background-color: darkslateblue;*/
}
